
form { display: block }
div.postright, div.postfootright { background-color:#FFFFFF; }
#topic {background-color:#FFFFFF;}
div.inbox#admin {background-color:#DEE4F2;}
div.postright#admin, div.postfootright#admin {background-color:#DEE4F2;}

#dev_site_navigator div.center_box {
   margin: 0 auto;
   width: 980px
}

body {
text-align: left;
}

form {display: block}

body { background: #fff; font-size: 12px; text-align: left; }
   .tcl, .tcr, td.tc2, td.tc3, div.box  { background-color: #fff; }

#register{
	color:#4863A0;
	font-size:13px;
	font-family:arial;
	text-decoration:none;
	font-weight:bold;

}

#login{
	color:#4863A0;
	font-size:13px;
	font-family:arial;
	text-decoration:none;
	font-weight:bold;

}

.mini_box{margin-top:32px;}
.select_type_recover{display:block;margin:10px 0 0 0;}
#userid_list{border:solid 1px #CCC;}
#userid_list ul{list-style:none;margin:0;padding:0;}
#userid_list ul li{list-style:none;margin-left:5px;padding:0;}